$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #149954,
		primary-2: #365238,
	),
	text: (
		body: #365238,
		body-2: #a9b8b8,
		body-3: #67787a,
		body-4: #192c18,
		body-5: #ffffffcc,
	),
	theme: (
		primary: #009639,
		primary-2: #980005,

		bg: #d8e5e2,
		bg-2: #cee0e0,
		bg-3: #203021,
		dark: #0c2113,
		dark-2: #182c1d,
		dark-3: #36523d,
		dark-4: #677a6c,
		dark-5: #676e7a,
		dark-6: #380002,
	),
	red: (
		1: #ff0000,
	),
	grey: (
		1: #ecf0f0,
		2: #a9b8b8,
		3: #ffffff1a,
	),
	border: (
		1: #c9d1d1,
		2: #313d3d,
		3: #ffffff26,
		4: #ffffff33,
		5: #1e8a8a26,
	),
);
